<header>
    <a href="/index.html"><h1>John's random black hole.</h1></a>
    <ul>
        <li><a href="/index.html">Posts</a></li>
        <li><a href="/about_me.html">About Me</a></li>
    </ul>
</header>