@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    font-family: "Inter", sans-serif;
    --white-smoke: #f7f8f8; 
    --dark-slate-gray: #27282b;
    --light-slate-gray: #858a93;
    --slate-blue: #5e6ad2;
    --black: #060606;
    --light-black: #1c1d1f;
}

html {
    font-size: 16px;
    word-wrap: break-word;
}

body {
    width: 75rem;
    margin: auto;
    padding: 0;
    background-color: var(--dark-slate-gray);
    color: var(--white-smoke);
}

@media (max-width: 960px) {
    body {
        width: auto;
    }
}

.page {
    margin: 20px;
}

h1 {
    color: var(--white-smoke);
    font-size: 3rem;
    margin: 10px 0;
}

h2 {
    font-size: 2rem;
    margin: 20px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li:nth-child(2) {
    padding-left: 30px;
}

a {
    color: var(--slate-blue);
}

footer p {
    font-size: 1rem;
}

footer span {
    color: var(--light-slate-gray);
}

.page-content {
    margin: 10px 0;
}

.find-me-links {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
}

.find-me-links li {
    margin: 5px 0;
    margin-left: 10px;
}
